/* CSS Document */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em
{
	margin: 0;
	padding: 0;
	border: 0;
}
ul, ol, li
{
	list-style: none;
}
input, button
{
	margin: 0;
	font-size: 12px;
	vertical-align: middle;
}
body
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	background-color: #cae0ed;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfloat
{
	height: 0;
	font-size: 1px;
	clear: both;
	line-height: 0;
}

a
{
	color: #333333;
	text-decoration: none;
}
a:hover
{
	color: #ef9b11;
	text-decoration: underline;
}


H2
{
	font-weight: normal;
	font-size: 100%;
}


.hidden
{
	display: none;
}

.pnav-title
{
	padding-left: 26px;
	font-weight: bold;
	background: url(bg06.jpg) no-repeat;
	margin-bottom: 10px;
	width: 180px;
	line-height: 29px;
	height: 29px;
}
.pnav-list
{
	margin: 0px 0px 0px 0px;
	width: 183px;
}
.pnav-list A
{
	display: inline-block;
	font-weight: bold;
	background: url(../img/bg07.jpg) no-repeat;
	margin-bottom: 6px;
	width: 21px;
	line-height: 21px;
	font-family: Arial;
	height: 21px;
	text-align: center;
}
.pnav-list A
{
	color: #69696a;
}
.pnav-list A:visited
{
	color: #69696a;
}
.pnav-cnt
{
	background: url(../img/bg11.png) repeat-y;
	margin: 0px 0px 0px 0px;
	width: 183px;
	margin: 0px auto;
	border-bottom: #dcdddd 1px solid;
	position: absolute;
	left: 0px;
	top: 0px;
}
.pnav-box
{
	background: url(../img/bg08.jpg) no-repeat;
}
.box-title
{
	padding-left: 7px;
	line-height: 32px;
	height: 32px;
}
.box-title .btn-unfold
{
	margin-top: 10px;
}
.box-title .btn-fold
{
	margin-top: 10px;
}
.pnav-letter
{
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	font-family: Arial;
}
.btn-unfold
{
	background: url(../img/bg10.png) no-repeat;
	float: left;
	width: 13px;
	margin-right: 2px;
	height: 13px;
}
.btn-fold
{
	background: url(../img/bg09.png) no-repeat;
	float: left;
	width: 13px;
	margin-right: 2px;
	height: 13px;
}
.box-list
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.box-list LI
{
	padding-left: 18px;
	line-height: 20px;
	padding-right: 20px;
}
.box-list LI .btn-unfold
{
	margin-top: 5px;
}
.box-list LI .btn-fold
{
	margin-top: 5px;
}
.box-list H2
{
	color: #333333;
}
.box-list H2 A
{
	color: #333333;
}
.box-list H2 A:visited
{
	color: #333333;
}
.box-list .off
{
	color: #cae0ed;
}
.box-list .off:visited
{
	color: #727171;
}

